//// ======================================================================== //
/// @name   _header-page
/// @group  K&P Attorney
/// @since  1.0.0
/// @author Sam Rankin <samrankin.dev@gmail.com>
/// -----
/// Created : 12/19/19
/// Modified: 12/19/19 by SR
/// ======================================================================= ////

.page-title {
    color: #fff;
}

body:not(.header-simple) #Top_bar #menu {
    display: flex !important;
}

#Subheader {
    padding: 0;

    .vc_section_inner {
        position: relative;
        @include gradient($start-percent: 0.85);

        @each $breakpoint, $padding in $grid-padding {
            @include media-breakpoint-up($breakpoint) {
                @include section-padding($padding, 'y', 5);
            }
        }
    }
}

#Top_bar {
    #Action_bar {
        p {
            @include media-breakpoint-down(ms) {
                font-size: $font-size-sm;
            }
        }
    }
}
