<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=7k4ydwrB8N">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=7k4ydwrB8N">
<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png?v=7k4ydwrB8N">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=7k4ydwrB8N">
<link rel="manifest" href="/site.webmanifest?v=7k4ydwrB8N">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=7k4ydwrB8N" color="#f7bc3b">
<link rel="shortcut icon" href="/favicon.ico?v=7k4ydwrB8N">
<meta name="msapplication-TileColor" content="#252525">
<meta name="theme-color" content="#f7bc3b">