//// ======================================================================== //
/// @name   _carousel
/// @group  K&P Attorney
/// @since  1.0.0
/// @author Sam Rankin <samrankin.dev@gmail.com>
/// -----
/// Created : 07/29/19
/// Modified: 12/27/19 by SR
/// ======================================================================= ////

@import 'owl.carousel/src/scss/owl.carousel';
@import 'owl.carousel/src/scss/owl.theme.default';

$owl-btn-width: ms(2);

// Custom styles for owl carousel
.bp-carousel {
    &.owl-carousel {
        position: relative;

        &.owl-loaded {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .owl-stage-outer {
        flex: 1 1 100%;
        width: 100%;
    }

    .owl-stage {
        display: flex;
        flex-wrap: nowrap;
    }

    .owl-nav {
        display: none;
    }

    .owl-btn {
        @extend .btn-link;

        appearance: none;
        background: none;
        border: none;
        outline: none;
        position: absolute;
        padding: 0;
        font-size: ms(3);
        top: 50%;
        line-height: 1;

        &.owl-prev {
            transform: translate(-100%, -50%);
            left: 0;
        }

        &.owl-next {
            transform: translate(100%, -50%);
            right: 0;
        }

        i {
            line-height: 0.82;
            display: block;
        }
    }

    .owl-item {
        width: 100%;
        padding: 0 #{$gutters-50};
        display: flex;
        flex-direction: column;
        align-items: stretch;
        float: none;

        > * {
            height: 100%;
            flex: 1 1 100%;
        }
    }

    .owl-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: $gutters-100;
        width: calc(100% + #{$gutters-25});
        margin-right: -#{$gutters-25};
        margin-bottom: -#{$gutters-25};
    }

    .owl-dot {
        @extend .btn-link;

        margin-right: $gutters-25;
        margin-bottom: $gutters-25;
        box-shadow: none;

        &::before {
            @include icon-content($fa-var-circle);

            font-weight: 300;
        }

        &.active {
            &::before {
                font-weight: 900;
            }
        }
    }
}
