//// ======================================================================== //
/// @name   _footer
/// @group  K&P Attorney
/// @since  1.0.0
/// @author Sam Rankin <samrankin.dev@gmail.com>
/// -----
/// Created : 12/27/19
/// Modified: 01/10/20 by SR
/// ======================================================================= ////

#Footer {
    .wpb_column {
        @include make-col(10);
        @extend .col-md-auto;

        &:nth-child(1) {
            @include make-col(12);

            .vc_column-inner > .wpb_wrapper {
                @include media-breakpoint-up(ms) {
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    .widget {
                        margin-bottom: 0;
                    }
                }
            }

            #media_image-9 img {
                max-width: 120px !important;
            }
        }

        &:nth-child(2) {
            @include make-col(12);
            .vc_column-inner > .wpb_wrapper {
                flex-direction: row;
                align-items: center;
                justify-content: center;
                a {
                    font-size: ms(3);
                    display: block;
                }
            }
        }

        .wpb_wrapper {
            align-items: center;
            justify-content: flex-end;
        }

        .widget {
            img {
                max-width: 230px !important;
            }
        }
    }

    .widget {
        padding-bottom: 0 !important;

        &::after {
            display: none !important;
        }
    }

    .widget_media_image {
        a {
            display: block;
        }
    }
    .copyright p {
        @include font-size($font-size-sm);
    }
}
