/// ========================================================================= //
/// _schema
/// @group  BootPress
/// @since  <<version>>
/// @author Sam Rankin <samrankin.dev@gmail.com>
/// -----
/// Created:  2-4-19
/// Modified: 12-6-19 at 2:05 pm by Sam Rankin <samrankin.dev@gmail.com>
/// ========================================================================= //

.address {
    .schema-item-text > span {
        display: block;
    }
}

.schema-info-link {
    display: inline-flex;
    align-items: center;
}

.schema-icon {
    font-size: 0.8em;
    display: inline-block;
    margin-right: 0.3em;
}

.company-logo-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    svg,
    img {
        width: 100% !important;
        height: auto !important;
    }
}

.addresses {
    > .wpb_wrapper {
        @include make-row;

        flex-direction: row;
        justify-content: flex-start;
        .address {
            @include make-col-ready;

            margin-bottom: $grid-gutter-width;
            a {
                color: $dark;
            }
        }
    }
}
