.social-profiles {
    .social-profile-link {
        display: block;
        border-radius: 100%;
    }
}

.social-profile-icon-wrapper {
    min-width: $grid-gutter-width;
}

.social-profile-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
