/// ========================================================================= //
/// Description
/// @group BootPress Test Project
/// @since <<version>>
/// -----
/// @author Sam Rankin <samrankin.dev@gmail.com>
/// @copyright Copyright (c) 2019 Your Company
/// -----
/// Created Date:  6-10-19
/// Modified Date: 10-3-19 at 6:53 pm
/// Modified By:   Sam Rankin <samrankin.dev@gmail.com>
/// -----
/// HISTORY:
/// Date    	By	Comments
/// --------	--	--------------------------------------------------------------
/// ========================================================================= //

.user-avatar {
    .user-icon {
        padding: $grid-gutter-width;
        font-size: ms(4);
    }
}

.isotope-item {
    .wpb_wrapper {
        padding-bottom: $grid-gutter-width;
    }
}

.bp-carousel {
    .owl-item {
        > article.post {
            height: auto;
            flex: 0 0 auto;
            @include media-breakpoint-up(md) {
                height: 100%;
            }
            .card-body {
                display: flex;
                flex-direction: column;
            }
            .btn {
                margin-top: auto;
            }
        }
    }
}
