//// ======================================================================== //
/// @name   ___kebabCase_name__
/// @group  sass
/// @since  <<projectversion>>
/// @author Sam Rankin <samrankin.dev@gmail.com>
/// -----
/// Created : 12/18/19
/// Modified: 12/18/19 by SR
/// ======================================================================= ////

.header-plain,
.header-classic {
    #Action_bar {
        position: relative;
        top: 0;
        left: 0;
        padding: $navbar-padding-y $navbar-padding-x;
        background-color: $dark !important;

        .widget-title {
            font-size: $font-size-base;
            color: #fff;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
            font-family: $font-family-base;
            margin: 0 1rem 0 0;
        }

        a {
            color: $yellow;
        }
    }

    #Top_bar {
        position: relative;
        top: 0;
        left: 0;
        border-bottom: none;
        filter: drop-shadow($dropdown-box-shadow);
        .navbar-light .navbar-toggler-icon-bar {
            color: $primary;
        }
        #main-menu-container {
            min-height: 100%;
            width: 100vw;

            @include media-breakpoint-up($desktop-bp) {
                width: auto;
            }
        }
        #menu-toggle-col {
            .wpb_wrapper {
                padding: #{$gutters-50};
            }
        }

        .navbar-brand {
            flex: 1 1 auto;
            max-width: 300px;
            padding: #{$gutters-50};
            .wpb_wrapper {
                flex: 1 1 auto;
            }
        }

        #menu-main {
            @include media-breakpoint-up($desktop-bp) {
                position: static;
            }
            > .vc_column-inner,
            > .vc_column-inner > .wpb_wrapper {
                @include media-breakpoint-up($desktop-bp) {
                    position: static;
                }
            }
            > .vc_column-inner > .wpb_wrapper {
                @include media-breakpoint-up($desktop-bp) {
                    padding: 0 $gutters-50;
                }
            }
            .menu.menu-main {
                height: 100%;
                margin: 0;
                display: flex;
                flex-direction: column;

                @include media-breakpoint-up($desktop-bp) {
                    flex-direction: row;
                }

                &#menu-florida-ppc-lp {
                    @include media-breakpoint-up($desktop-bp) {
                        > li.nav-item > a.nav-link {
                            font-size: 0.75rem;
                            padding: 0 $gutters-25;
                        }
                    }
                }

                > li.nav-item {
                    display: flex;
                    flex-wrap: wrap;
                    @include media-breakpoint-up($desktop-bp) {
                        border-right: solid 1px rgba(black, 0.1);
                        &:first-child .nav-link {
                            padding-left: 0;
                        }
                        &:last-child {
                            border-right: none;
                            .nav-link {
                                padding-right: 0;
                            }
                        }
                    }

                    @include hover-focus-active {
                        background-color: $light;
                        @include media-breakpoint-up($desktop-bp) {
                            background-color: transparent;
                        }
                    }

                    &.has-children {
                        > .nav-link {
                            @include media-breakpoint-up($desktop-bp) {
                                padding: 0 0 0 1rem;
                            }
                        }
                    }

                    &.has-megamenu {
                        @include media-breakpoint-up($desktop-bp) {
                            position: static;
                        }
                    }

                    &.active,
                    &.current-page-ancestor,
                    &.current-menu-ancestor {
                        background-color: $light;
                        @include media-breakpoint-up($desktop-bp) {
                            background-color: transparent;
                        }
                    }

                    > a.nav-link {
                        line-height: 1;
                        color: $dark;
                    }
                    > .btn-toggle {
                        color: $dark;
                    }
                }
                .menu-inner {
                    background-color: $dark;
                    padding: $gutters-50 0;
                }
                .sub-menu {
                    position: relative;
                    min-width: 100%;
                    width: auto;

                    &.level-2-menu {
                        @include media-breakpoint-up($desktop-bp) {
                            position: absolute;
                            top: 100%;
                            left: 0;
                        }
                    }

                    ul {
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        background-image: none;
                        top: 0;
                        left: 0;
                        background-color: transparent !important;

                        &.mfn-megamenu-2 {
                            margin-bottom: -#{$gutters-50};
                            @include media-breakpoint-up(ms) {
                                flex-direction: row;
                                padding: 0;

                                > li {
                                    padding: $navbar-padding-y $navbar-padding-x;
                                    width: 50%;
                                    justify-content: flex-start;
                                    flex-direction: column;
                                    flex-wrap: nowrap;
                                    border-bottom: none;

                                    span.nav-link {
                                        flex: 0 0 auto;
                                        font-weight: $font-weight-bold;
                                    }
                                }
                            }
                        }

                        li {
                            width: 100%;
                            border: none;
                        }
                        .nav-link {
                            color: #fff;

                            @include hover-focus-active {
                                color: $yellow;
                                text-decoration: none;
                            }
                            .hover-line {
                                display: none !important;
                            }
                        }
                    }
                }

                li.nav-item {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0;
                    &.has-children {
                        > a.nav-link {
                            padding-right: 0;
                        }
                    }
                    &.mfn-megamenu-cols-2 {
                        margin-bottom: $gutters-50;
                    }
                    &.active,
                    &.current-page-ancestor,
                    &.current-menu-ancestor {
                        > .nav-link {
                            color: $primary;
                            .hover-line {
                                &::before,
                                &::after {
                                    transform: scaleX(1);
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    &.current-page-ancestor.ppc-home,
                    &.current-menu-ancestor.ppc-home {
                        > .nav-link {
                            color: $white;
                            @include media-breakpoint-up($desktop-bp) {
                                color: $dark;
                            }
                            .hover-line {
                                &::before,
                                &::after {
                                    transform: scaleX(0);
                                    opacity: 0;
                                }
                            }
                        }
                    }
                    @include hover-focus-active {
                        > .nav-link {
                            color: $primary;
                        }
                    }
                    .mfn-megamenu-title {
                        @extend .h6;

                        min-height: 42px;
                        margin: 0;
                        line-height: 1;
                        flex: 1 1 auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-transform: uppercase;
                        border: none !important;
                        padding: 0 $gutters-50;
                        @include media-breakpoint-up($desktop-bp) {
                            display: none;
                        }
                    }
                    a.nav-link {
                        line-height: 1;
                        flex: 1 1 auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-transform: uppercase;
                        border: none !important;
                        padding: 0 $gutters-50;

                        .nav-link-text {
                            line-height: $line-height-base;
                            height: auto;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-start;
                            min-height: 42px;
                            padding: 0;
                            border: none !important;
                        }

                        .hover-line {
                            display: none;
                            @include media-breakpoint-up($desktop-bp) {
                                display: flex;
                            }
                            &::before,
                            &::after {
                                content: '';
                                height: 1px;
                                transition: $transition-base;
                                transition-duration: 0.5s;
                                opacity: 0;
                                display: block;
                                background-color: $primary;
                                width: 50%;
                            }
                            &::before {
                                transform-origin: right center;
                                transform: scaleX(0);
                            }
                            &::after {
                                transform-origin: left center;
                                transform: scaleX(0);
                            }
                        }

                        @include media-breakpoint-up($desktop-bp) {
                            @include hover-focus-active {
                                color: $primary;
                                .hover-line {
                                    &::before,
                                    &::after {
                                        transform: scaleX(1);
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }

                    .nav {
                        flex: 1 0 100%;
                    }
                    .btn-toggle {
                        border: none;
                        background: none;
                        min-width: 42px;
                        min-height: 42px;
                        padding: 0 $gutters-50;
                        font-size: $font-size-sm;
                        box-shadow: none;
                        &[aria-expanded='true'] {
                            i.fa-plus {
                                &::before {
                                    content: icon($fa-var-minus) !important;
                                }
                            }
                        }
                        &::after {
                            display: none;
                        }
                        @include hover-focus-active {
                            color: $primary !important;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
